@model gerenciamento_mercadoria.Models.MercadoriaViewModel

@{
    ViewBag.Title = "AtualizarMercadoria";
}

<style>
    .error {
        color: red;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container d-flex flex-column" style="width:90%;margin-top:2%">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Mercadoria</h3>
                    <a href="#" class="close" data-dismiss="modal" onclick="redirectToIndex()">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="myForm">

                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "error" })

                        @Html.TextBoxFor(model => model.NumeroRegistro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NumeroRegistro, "", new { @class = "error" })

                        @Html.TextBoxFor(model => model.Fabricante, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fabricante, "", new { @class = "error" })

                        @Html.DropDownListFor(model => model.TipoId, ViewBag.TipoList as SelectList, "Tipo de Mercadoria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "error" })

                        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "error" })

                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal" onclick="redirectToIndex()">Cancel</a>
                    <input type="reset" value="Atualizar" class="btn btn-success" id="btnSubimiit" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $("#myModal").modal("show");
    })

    function redirectToIndex() {
            window.location.href = '@Url.Action("Index", "Mercadoria")';
    }

    var url = '@Url.Action("AtualizarMercadoria", "Mercadoria", new { id = Model.MercadoriaId })';

    $(document).ready(function () {
        $("#btnSubimiit").click(function () {
            var myFormData = $("#myForm").serialize();

            if (!$("#myForm").valid()) {

                return false;
            }

            $.ajax({
                type: "POST",
                url: url,
                data: myFormData,
                success: function () {
                    $('#myForm').trigger("reset");
                    $('#myModal').modal('hide');
                    window.location.href = '@Url.Action("Index", "Mercadoria")';
                }
            })
        })
    })
</script>