@model IEnumerable<gerenciamento_mercadoria.Models.MercadoriaViewModel>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Nome Aplicação</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Mercadoria", "Index", "Mercadoria", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>


<div class="container d-flex flex-column" style="width:60%;margin-top:2%">
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-success">Adicionar</button>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Número de Registro</th>
            <th>Fabricante</th>
            <th>Tipo</th>
            <th>Descrição</th>
        </tr>
        <tbody>
            @foreach(var mercadoria in Model)
            {
                <tr>
                    <td>@mercadoria.MercadoriaId</td>
                    <td>@mercadoria.Nome</td>
                    <td>@mercadoria.NumeroRegistro</td>
                    <td>@mercadoria.Fabricante</td>
                    <td>@mercadoria.NomeTipo</td>
                    <td>@mercadoria.Descricao</td>
                </tr>
            }
        </tbody>
    </table>
</div>